body {
    padding: 2rem;
    /* background-image: url("/static/blog/img/header_bg.png"); */
    background-size: 100%;
    background-attachment: fixed;
}

#top-header {
    background-color: #11191fea;
    position: fixed;
    top: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 80px;
    width: 100%;
    z-index: 3;
}

footer {
    text-align: center;
}